[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/OpenXiangShan/rocket-chip.git
[submodule "difftest"]
	path = difftest
	url = https://github.com/OpenXiangShan/difftest.git
[submodule "ready-to-run"]
	path = ready-to-run
	url = https://github.com/OpenXiangShan/ready-to-run
[submodule "huancun"]
	path = huancun
	url = https://github.com/OpenXiangshan/huancun.git
[submodule "fudian"]
	path = fudian
	url = https://github.com/OpenXiangShan/fudian.git
[submodule "dependencies/chisel3"]
	path = dependencies/chisel3
	url = https://github.com/yqszxx/chisel3
[submodule "dependencies/firrtl"]
	path = dependencies/firrtl
	url = git@github.com:shinezyy/firrtl.git
